<div class="form-search-flight">
  <div  class="form-field-group from">
    <mat-form-field floatLabel="auto">
      <mat-label>From</mat-label>
      <mat-select hideSingleSelectionIndicator="true">
        <mat-option value="option">Option</mat-option>
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-field-group destination">  
    <mat-form-field >
      <mat-label>Destination</mat-label>
      <mat-select hideSingleSelectionIndicator="true">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button mat-icon-button class="button-reverse">
    <mat-icon class="icon-display" svgIcon="reverseArrows" aria-hidden="true" aria-label="Change"></mat-icon>
  </button>

</div>

