$basic: (
  50 : #F4F6F9,
  100 : #E1E5EB,
  200 :  rgba(116, 118, 122, 0.6),
  300 : #cb79c5,
  400 : #c05cb8,
  500 : #b53fac,
  600 : #ae39a5,
  700 : #a5319b,
  800 : #9d2992,
  900 : #8d1b82,
  A100 : #ffc6f9,
  A200 : #ff93f4,
  A400 : #ff60ee,
  A700 : #ff47eb,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
    )
);
