.mat-mdc-card {
  width: 580px;
  height: 390px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  box-sizing: border-box;
}

:host ::ng-deep .mdc-form-field>label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #11397E;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
  columns: red;
}

:host ::ng-deep .mat-mdc-radio-button.cdk-focused .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: #11397E;
    
}

:host ::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
  border-color: #11397E;
  
}

:host ::ng-deep .mat-mdc-radio-button.cdk-focused .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
  border-color: #11397E;
}

:host ::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
  border-color: #11397E;
}

:host ::ng-deep .mat-mdc-radio-button:hover .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
  border-color: #11397E;
  
}

:host ::ng-deep .mat-mdc-radio-button:hover .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
  border-color: #11397E;
}

.mat-mdc-radio-button.mat-accent {
  --mdc-radio-selected-focus-icon-color: none;
  --mdc-radio-selected-hover-icon-color: none;
  --mdc-radio-selected-icon-color: none;
  --mdc-radio-selected-pressed-icon-color: none;
  --mat-radio-checked-ripple-color: none;

}
